In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [2]:
import ast

In [3]:
movies = pd.read_csv("dataset.csv")

In [4]:
movies.head(2)

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"Action, Thriller",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,1,tt15748830,Jaane Jaan,2023,"Crime, Drama, Mystery",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."

In [5]:
movies.shape

(2199, 8)

In [6]:
movies.isnull().sum()

Unnamed: 0     0
movie_id       0
movie_name     0
year          65
genre          0
overview       0
director       0
cast           0
dtype: int64

In [7]:
movies.dropna(inplace=True)

In [8]:
movies.duplicated().sum()

np.int64(0)

In [9]:
movies.iloc[3].cast

'Ranveer Singh, Alia Bhatt, Dharmendra, Shabana Azmi'

In [10]:
def convert(text):
    L=text.split(',')
    return L

In [11]:
movies['genre'] = movies['genre'].apply(convert)
movies.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"[Action, Thriller]",A high-octane action thriller which outlines t...,Atlee,"Shah Rukh Khan, Nayanthara, Vijay Sethupathi, ..."
1,1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]",A single mother and her daughter who commit a ...,Sujoy Ghosh,"Kareena Kapoor, Jaideep Ahlawat, Vijay Varma, ..."
2,2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]",A retired jailer goes on a manhunt to find his...,Nelson Dilipkumar,"Rajinikanth, Mohanlal, Shivarajkumar, Jackie S..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]",Flamboyant Punjabi Rocky and intellectual Beng...,Karan Johar,"Ranveer Singh, Alia Bhatt, Dharmendra, Shabana..."
4,4,tt15732324,OMG 2,2023,"[Comedy, Drama]",An unhappy civilian asks the court to mandate ...,Amit Rai,"Pankaj Tripathi, Akshay Kumar, Yami Gautam, Pa..."

In [12]:
def convert2(text):
    L=text.split(" ")
    return L

In [13]:
movies['overview'] = movies['overview'].apply(convert2)
movies['director'] = movies['director'].apply(convert2)
movies['cast'] = movies['cast'].apply(convert)

In [14]:
movies.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[Shah Rukh Khan, Nayanthara, Vijay Sethupath..."
1,1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...","[Sujoy, Ghosh]","[Kareena Kapoor, Jaideep Ahlawat, Vijay Varm..."
2,2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...","[Nelson, Dilipkumar]","[Rajinikanth, Mohanlal, Shivarajkumar, Jack..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...","[Karan, Johar]","[Ranveer Singh, Alia Bhatt, Dharmendra, Sha..."
4,4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...","[Amit, Rai]","[Pankaj Tripathi, Akshay Kumar, Yami Gautam,..."

In [15]:
#movies['overview'] = movies['overview'].apply(lambda x:x.split())
movies.sample(5)

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
91,91,tt5946128,Dear Zindagi,2016,"[Drama, Romance]","[Kaira, is, a, budding, cinematographer, in, s...","[Gauri, Shinde]","[Alia Bhatt, Shah Rukh Khan, Kunal Kapoor, ..."
588,588,tt0120540,Yes Boss,1997,"[Comedy, Drama, Musical]","[Rahul, Joshi, wants, to, be, a, successful, b...","[Aziz, Mirza]","[Shah Rukh Khan, Juhi Chawla, Aditya Panchol..."
2178,2179,tt0056850,Bandini,1963,"[Drama, Musical, Romance]","[During, the, British, Raj, of, the, 1930s,, a...","[Bimal, Roy]","[Ashok Kumar, Nutan, Dharmendra, Raja Paran..."
1238,1238,tt7527082,Hamid,2018,[Drama],"[Eight, year-old, Hamid, learns, that, 786, is...","[Aijaz, Khan]","[Talha Arshad Reshi, Vikas Kumar, Rasika Dug..."
1006,1006,tt2357926,Ramaiya Vastavaiya,2013,"[Action, Drama, Romance]","[Ram, falls, in, love, with, Sona,, who, lives...","[Prabhu, Deva]","[Shruti Haasan, Girish Taurani, Sonu Sood, ..."

In [16]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [17]:
movies['genre'] = movies['genre'].apply(collapse)
movies['overview'] = movies['overview'].apply(collapse)
movies['director'] = movies['director'].apply(collapse)
movies['cast'] = movies['cast'].apply(collapse)

In [18]:
movies.head()

,Unnamed: 0,movie_id,movie_name,year,genre,overview,director,cast
0,0,tt15354916,Jawan,2023,"[Action, Thriller]","[A, high-octane, action, thriller, which, outl...",[Atlee],"[ShahRukhKhan, Nayanthara, VijaySethupathi, De..."
1,1,tt15748830,Jaane Jaan,2023,"[Crime, Drama, Mystery]","[A, single, mother, and, her, daughter, who, c...","[Sujoy, Ghosh]","[KareenaKapoor, JaideepAhlawat, VijayVarma, Sa..."
2,2,tt11663228,Jailer,2023,"[Action, Comedy, Crime]","[A, retired, jailer, goes, on, a, manhunt, to,...","[Nelson, Dilipkumar]","[Rajinikanth, Mohanlal, Shivarajkumar, JackieS..."
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,"[Comedy, Drama, Family]","[Flamboyant, Punjabi, Rocky, and, intellectual...","[Karan, Johar]","[RanveerSingh, AliaBhatt, Dharmendra, ShabanaA..."
4,4,tt15732324,OMG 2,2023,"[Comedy, Drama]","[An, unhappy, civilian, asks, the, court, to, ...","[Amit, Rai]","[PankajTripathi, AkshayKumar, YamiGautam, Pawa..."

In [19]:
movies['tags'] = movies['overview'] + movies['genre'] + movies['director'] + movies['cast']

In [20]:
new = movies.drop(columns=['overview','genre','director','cast'])
#new.head()

In [21]:
new['tags'] = new['tags'].apply(lambda x: " ".join(x))
new.head()

,Unnamed: 0,movie_id,movie_name,year,tags
0,0,tt15354916,Jawan,2023,A high-octane action thriller which outlines t...
1,1,tt15748830,Jaane Jaan,2023,A single mother and her daughter who commit a ...
2,2,tt11663228,Jailer,2023,A retired jailer goes on a manhunt to find his...
3,3,tt14993250,Rocky Aur Rani Kii Prem Kahaani,2023,Flamboyant Punjabi Rocky and intellectual Beng...
4,4,tt15732324,OMG 2,2023,An unhappy civilian asks the court to mandate ...

In [22]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [23]:
movies.iloc[2].tags

['A',
 'retired',
 'jailer',
 'goes',
 'on',
 'a',
 'manhunt',
 'to',
 'find',
 'his',
 "son's",
 'killers.',
 'But',
 'the',
 'road',
 'leads',
 'him',
 'to',
 'a',
 'familiar,',
 'albeit',
 'a',
 'bit',
 'darker',
 'place.',
 'Can',
 'he',
 'emerge',
 'from',
 'this',
 'complex',
 'situation',
 'successfully?',
 'Action',
 'Comedy',
 'Crime',
 'Nelson',
 'Dilipkumar',
 'Rajinikanth',
 'Mohanlal',
 'Shivarajkumar',
 'JackieShroff']

In [24]:
vector = cv.fit_transform(new['tags']).toarray()

In [25]:
cv.get_feature_names_out()

array(['000', '10', '100', ..., 'zoya', 'zoyahussain', 'zubair'],
      shape=(5000,), dtype=object)

In [36]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()
def stem(text):
    y=[]
    for i in text.split():
        y.append(ps.stem(i))
    return " ".join(y)

In [37]:
vector.shape

(2134, 5000)

In [38]:
from sklearn.metrics.pairwise import cosine_similarity

In [39]:
similarity = cosine_similarity(vector)

In [40]:
similarity

array([[1.        , 0.        , 0.09567297, ..., 0.        , 0.        ,
        0.08520286],
       [0.        , 1.        , 0.08891084, ..., 0.        , 0.07918076,
        0.03959038],
       [0.09567297, 0.08891084, 1.        , ..., 0.        , 0.03872015,
        0.11616046],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.07918076, 0.03872015, ..., 0.        , 1.        ,
        0.10344828],
       [0.08520286, 0.03959038, 0.11616046, ..., 0.        , 0.10344828,
        1.        ]], shape=(2134, 2134))

In [41]:
new[new['movie_name'] == 'Jawan'].index[0]

np.int64(0)

In [42]:
def recommend(movie):
    index = new[new['movie_name'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:6]:
        print(new.iloc[i[0]].movie_name)

In [45]:
recommend('Jailer')

Parvarish
Radhe
Shakti
Dhoom:2
De Dana Dan

In [46]:
import pickle

In [47]:
pickle.dump(new,open('movie_list.pkl','wb'))
pickle.dump(similarity,open('similarity.pkl','wb'))

In [48]:
pickle.dump(new.to_dict(),open('movie_dict.pkl','wb'))

In [50]:
pickle.dump(similarity,open('similarity.pkl','wb'))